<!--div class="logo">
  <mat-icon>music_note</mat-icon>
  <div>{{ currentFile?.file.name}}</div>
  <img src="{{ currentFile?.file.picture}}"/>
</div-->
<mat-card class="example-card">
  <mat-card-content>
    <div class="logo">
    <img src="{{ currentFile?.file.picture }}" alt="{{ currentFile?.file.name }}">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon></mat-icon>
    <button mat-stroked-button><mat-icon>share</mat-icon></button>
    <mat-icon></mat-icon>
    <button mat-stroked-button><mat-icon>favorite</mat-icon></button>
    <mat-icon></mat-icon>
    <button mat-stroked-button><mat-icon>grade</mat-icon></button>
  </mat-card-actions>
</mat-card>

<div class="media-footer">
  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <span class='spacer'>{{ currentFile?.file.author }}. {{ currentFile?.file.name }}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      {{ state?.readableCurrentTime }}
      <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile.index === undefined"></mat-slider>
      {{ state?.readableDuration }}
    </mat-toolbar-row>
    <mat-toolbar-row class="media-action-bar">
      <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
        <mat-icon mat-list-icon>skip_previous</mat-icon>
      </button>
      <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
        <mat-icon mat-list-icon>play_circle_filled</mat-icon>
      </button>
      <button mat-button (click)="pause()" *ngIf="state?.playing">
        <mat-icon mat-list-icon>pause</mat-icon>
      </button>
      <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
        <mat-icon mat-list-icon>skip_next</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
