.form-containerr {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 300px;
  }
.form-container > * {
    width: 100%;
  }
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }  